.hyperlink:hover {
    -fx-text-fill:  rgb(144,129,241);
}

.hyperlink:visited, .hyperlink:pressed {
    -fx-stroke-width: 0;
    -fx-border-width: 0;
}


.hyperlink {
    -fx-text-fill:  rgb(0,0,0);
}